<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <header>
      <div class="container">

      {{ content }}

      </div>
    </header>

    <!-- jQuery and Bootstrap -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Holder.js for placeholder images -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/new-age.min.js"></script>
  </body>
</html>
